* {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
}

body {
    background-image: url(../img/background.jpg);
}

.container{
    width: 100%;
}

#banner{
    padding: 0;
}

#banner img{
    width: 100%;
}

.middle{
    background-color: rgba(255,255,255,0.5)
}