.infocontent{
    margin-bottom: 10px;
}

h1{
    font-weight: 700;
}

#profilpic{
    border: 7px solid #999999;
    top: -2.9em;
    padding: 0;
    background-color: #FFFFFF;
    left: 2.3em;
}

ul{
    list-style-type: None;
}

.editfield{
    display: None;
}

#exitedit{
    display: None;
}

.clearall{
    margin: 0;
    padding: 0;
    border: 0;
}

#export{
    margin-bottom: 10px;
}

.editicon{
    width: 30px; 
    cursor: pointer;
}

