html,
body {
    font-family: fantasy;
    font-size: 15px;
    height: 100%;
}
.banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    height: 30%;
    padding-top: 1em;
    padding-left: 12.5em;
}
.suche {
    background-image: #00a5dc;
    padding: 5em 40%;
}
header {
    position: fixed;
    text-align: right;
    width: 100%;
}
.header-bild {
    float: left;
    height: 3em;
    margin: 0;
}
h3 {
    font-size: 20px;
}
.scroll {
    font-size: 2em;
}
.buttonscroll {
    position: fixed;
    bottom: 1em;
}
.search {
    display: inline-block;
    width: 10em;
}
.startsuche {
    text-align: center;
    width: 15em;
}
.search-search {
    margin-left: 1em !important;
}
.ueberschrift {
    font-style: italic;
    font-family: serif;
}
#suchen{
    margin-left: 5em;
}
.article {
    height: 50%;
    background-color: #00a5dc;
}