html,body{
    font-size: 15px;
    height: 100%;
}
.form-group {
    width: 25%;
}
.banner {
    background-color: green;
    height: 100%;
    padding-top: 12.5em;
    padding-left: 12.5em;
}
.suche {
    background-color: #00a5dc;
    margin-top: 5em;
    padding: 5em;
}
header {
    position: fixed;
    text-align: right;
    width: 100%;
}
.header-bild {
    float: left;
    height: 3em;
    margin: 0;
}
h3 {
    font-size: 20px;
}
.scroll {
    font-size: 2em;
}
.buttonscroll {
	position: fixed;
	bottom: 1em;
}